
.logo {
    width: 75px;
    transition: all ease 0.4s;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar-header {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 9999;
    padding: 0.9rem 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.navbar-header nav {
    background: rgba(215, 215, 215, .2);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-list a {
    text-decoration: none;
    color: black;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem;
}

.navbar-list a:hover {
    color: #7b1500;
}