.officer-container {
    /* margin-top: 5%; */
    margin: 5% 0;
    /* height: 100vh;
    width: 100vw; */
    overflow: hidden;
    position: relative;
    color: black;
    z-index: 11;
}

.officer-container .title {
    margin-left: 2%;
}

.officer-container img {
    border-radius: 20px;
    transition: box-shadow .2s;
}

.exec-container {
    display: flex;
    flex-direction: row;
    margin: 5% 2%;
    justify-content: center;
}

.exec-officer {
    text-align: center;
    margin: 0 2%;
}

.exec-officer img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    padding: 3%;
}

.exec-info {
    text-align: center;
}

.exec-info .role {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 1rem;
    color: #7b1500;
    margin: 1%;
}

.exec-info .name {
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}

.community-container {
    text-align: center;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.community-container img{
    margin: 0;
    width: 350px;
    object-fit: contain;
    
}

.officer-info .role {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 1rem;
    color: #7b1500;
    margin: 1%;
}

.officer-info .name {
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}

.officer-container-1 {
    display: flex;
    flex-direction: row;
    margin: 5% 2%;
    justify-content: center;
}