.officer-container {
    margin-top: 5%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    color: black;
}

.officer-container .title {
    margin-left: 2%;
}

.exec-container {
    display: flex;
    flex-direction: row;
    margin: 5% 2%;
    justify-content: center;
}

.exec-officer {
    text-align: center;
    margin: 0 2%;
}

.exec-officer img{
    width: 90%;
    height: 75%;
    object-fit: cover;
    padding: 3%;
}

.exec-info {
    text-align: center;
}

.exec-info .role {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 1rem;
    color: #7b1500;
    margin: 1%;
}

.exec-info .name {
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}