.events-container {
    margin-top: 5%;
    margin-left: 2%;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.events-container h1 {
    color: black;
}

.events-container p {
    color: black;
}