
.newsletter-container {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(240, 240, 240, 0.9);
    display: grid;
    place-items: center;
    z-index: 1;
    position: fixed;
    opacity: 0; 
    transform: scale(0.9); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
  }

  .newsletter-container.active {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(240, 240, 240, 0.9);
    display: grid;
    place-items: center;
    z-index: 500;
    position: fixed;
    opacity: 1; /* When the 'active' class is added, the container will fade in */
    transform: scale(1.1); /* Scale back to normal size when active */
  }
  
  .newsletter-wrapper {
    padding: 16px;
    background: #ffffff;
    box-shadow: 2px 2px 16px rgba(200, 200, 200, 0.5);
  }
  
  .newsletter {
    position: relative;
    border: 2px solid #dd3333;
    padding: 16px;
  }
  
  .close {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #cccccc;
    cursor: pointer;
  }
  
  .csa-logo-container {
    margin: 32px auto;
    width: 128px;
  }
  
  .csa-logo-container img {
    width: 100%;
    object-fit: contain;
  }
  
  .newsletter h2 {
    text-align: center;
  }
  
  .newsletter-input {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter-input label {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 0.9rem;
    font-weight: 600;
  }

  section {
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Quicksand';
    color: black;
    margin: 5%;
  }

  button {
    background-color: #7b1500;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
    font-weight: 800;
    font-size: 16px;
    padding: 0px 20px;
    margin: 1rem 0;
  }
  
 button:hover {
    background-color: #601000;
  }

  .newsletter-text {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter-text h2 {
    flex: 1;
    font-size: 28px;
    font-weight: 900;
    line-height: 0.4;
  }
  
  .newsletter-text p {
    flex: 2;
    font-size: 20px;
    line-height: 0.4;
  }
  
  