@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Mulish:wght@200;300;400;500;600;800;900&display=swap");

main {
    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.bg-img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    pointer-events: auto;
    font-family: "Mulish", sans-serif !important;
}

.text h2 {
    color: black;
    font-weight: 500;
    font-size: 5rem;
    line-height: 0.4;
}

.text h1 {
    color: #7b1500;
    font-weight: 800;
    font-size: 7rem;
    line-height: 0.4;
}

.mtn {
    position: absolute;
    width: 50%;
    top: calc(34%);
    left: calc(75%);
    transform: translate(-50%, -50%);
    z-index: 3;
}

.house {
    position: absolute;
    width: 50%;
    top: calc(73%);
    left: calc(25%);
    transform: translate(-50%, -50%);
    z-index: 3;
}

.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.5s cubic-bezier(.2, .49, .32, .99);
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.5));
    pointer-events: none;
}

.introduction {
    z-index: 50;
    color: black;
    text-align: center;
    padding: 3%;
}

.member-form {
    margin: 0 25%;
    display: flex;
    justify-content: space-around;
}

.member-form button {
    padding: 2.5%;
}
